<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buyer/Tenant Representation Agreement between</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet">
    <style type="text/css">
        body {
            height: 100%;
            width: 100%;
            font-family: "Open Sans", sans-serif;
            font-optical-sizing: auto;
            line-height: normal;
            margin: 0px;
            padding: 10px;
            font-weight: 400;
            box-sizing: border-box;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: subpixel-antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin: 0;
        }

        ul,
        li {
            padding: 0;
            margin: 0;
        }

        table td,
        table th {
            padding: 0;
            margin: 0;
            font-size: 13.5px;
        }

        .w-full {
            width: 100%;
        }

        .w-half {
            width: 50%;
        }

        .text-center {
            text-align: center;
        }

        .p-1 {
            padding-top: 10px;
        }

        strong {
            font-size: 13px;
        }

        .footer strong {
            font-size: 10px;
        }

        .m-auto {
            margin: 0 auto;
        }

        .inline-block {
            display: inline-block;
        }

        .list-none li {
            list-style: none;
            font-size: 13px;
        }

        .parties-column span,
        .add-border {
            border-bottom: 1px solid #696969;
            min-width: 155px;
            display: inline-block;
        }

        .list-alpha li {
            margin-top: 5px;
        }

        li::marker {
            font-weight: bold;
        }

        .border-add {
            border-collapse: collapse;
            margin: 10px 0;
            border: 1px solid #000;
            padding: 5px 5px 0 29px;
        }

        .border-add li {
            list-style: none;
            list-style: upper-alpha;
        }

        .border-add td {
            border: 1px solid #000;
        }

        .list-alpha {
            list-style-type: upper-alpha;
            counter-reset: list-counter 1;
            padding: 0 0 0 15px;
        }

        .list-alpha li {
            counter-increment: list-counter;
        }

        .list-alpha li::before {
            content: counter(list-counter, upper-alpha) ". ";
            font-weight: bold;
        }

        .after-none li::before {
            content: none;
        }

        .list-alpha.bottom_alpha li::marker {
            font-size: 0;
            opacity: 0;
        }

        input[type="checkbox"] {
            accent-color: #000;
        }

        .list-circle {
            padding-left: 29px;
        }

        .list-circle li {
            font-size: 12px;
            list-style: circle;
            font-weight: bold;
        }

        .footer {
            page-break-after: always;
        }

        @media print {
            @page {
                margin: 10mm;

                @bottom-center {
                    content: "Page " counter(page) " of " counter(pages);
                    font-size: 12px;
                }
            }
        }

        .font-13 td {
            font-size: 13px;
        }
    </style>
</head>

<body>

<table cellspacing="0" cellpadding="0" style="width: 100%;">
    <tbody>
    <tr>
        <td class="w-full text-center"> <img
                src="https://610weblab.in/design-link/pdf-images/texas-realtors.jpg" alt="Logo image"
                style="max-width: 234px;" class="m-auto" /></td>
    </tr>
    <tr>
        <td class="w-full text-center">
            <h1 style="font-size: 17px; max-width: 646px;" class="m-auto">
                RESIDENTIAL BUYER/TENANT REPRESENTATION<br>
                AGREEMENT - SHORT FORM
            </h1>
        </td>
    </tr>
    <tr>
        <td colspan="4" style="text-align: center; border-bottom: 2px solid #434343; font-size: 10px;">
            USE OF THIS FORM BY PERSONS WHO ARE NOT MEMBERS OF THE TEXAS ASSOCIATION OF REALTORS®,
            INC. IS NOT AUTHORIZED.
            <span style="display: block; font-weight: bold; width: 100%;"> ©Texas Association of REALTORS®, Inc.
                        2024</span>
        </td>
    </tr>
    <tr>
        <td class="p-1"><strong>1. PARTIES:</strong> <span> The parties to this agreement are:</span>
            <table cellspacing="0" cellpadding="0" class="w-full" style="padding:5px 0 0 15px;">
                <tr class="parties-column">
                    <td style="padding-right: 5px;">
                        Client:
                    </td>
                    <td style="width: 100%;">
                        <span class="inline-block w-full"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table cellspacing="0" cellpadding="0" class="w-full" style="padding:0 0 0 15px;">
                            <tr class="parties-column">
                                <td style="padding:0 5px 0 0">
                                    Address:
                                </td>
                                <td style="width: 100%;">
                                    <span class="inline-block w-full"></span>
                                </td>
                            </tr>
                            <tr class="parties-column">
                                <td style="padding:0 5px 0 0; min-width: 83px;">
                                    City, State, Zip:
                                </td>
                                <td style="width: 100%;">
                                    <span class="inline-block w-full"></span>
                                </td>
                            </tr>
                            <tr class="parties-column">
                                <td style="padding:0 5px 0 0">
                                    Phone:
                                </td>
                                <td style="width: 100%;">
                                    <span class="inline-block w-full"></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table cellspacing="0" cellpadding="0" class="w-full">
                                        <tr class="parties-column">
                                            <td style="padding:0 5px 0 0">
                                                <strong
                                                        style="font-weight: normal; display: inline-block;">Email/Fax:</strong>
                                                <span class="inline-block w-full"
                                                      style="width: calc(100% - 73px);"></span>
                                            </td>
                                            <td style="padding:0 5px 0 0">
                                                <strong
                                                        style="font-weight: normal; display: inline-block;">Email/Fax:</strong>
                                                <span class="inline-block w-full"
                                                      style="width: calc(100% - 73px);"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td class="p-1">
            <table cellspacing="0" cellpadding="0" class="w-full" style="padding:0 0 0 15px;">
                <tr class="parties-column">
                    <td style="padding-right: 5px;">
                        Broker:
                    </td>
                    <td style="width: 100%;">
                        <span class="inline-block w-full"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table cellspacing="0" cellpadding="0" class="w-full" style="padding:0 0 0 15px;">
                            <tr class="parties-column">
                                <td style="padding:0 5px 0 0">
                                    Address:
                                </td>
                                <td style="width: 100%;">
                                    <span class="inline-block w-full"></span>
                                </td>
                            </tr>
                            <tr class="parties-column">
                                <td style="padding:0 5px 0 0; min-width: 83px;">
                                    City, State, Zip:
                                </td>
                                <td style="width: 100%;">
                                    <span class="inline-block w-full"></span>
                                </td>
                            </tr>
                            <tr class="parties-column">
                                <td style="padding:0 5px 0 0">
                                    Phone:
                                </td>
                                <td style="width: 100%;">
                                    <span class="inline-block w-full"></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table cellspacing="0" cellpadding="0" class="w-full">
                                        <tr class="parties-column">
                                            <td style="padding:0 5px 0 0">
                                                <strong style="font-weight: normal;">Email/Fax:</strong>
                                                <span class="inline-block w-full"
                                                      style="width: calc(100% - 73px);"></span>
                                            </td>
                                            <td style="padding:0 5px 0 0">
                                                <strong style="font-weight: normal;">Email/Fax:</strong>
                                                <span class="inline-block w-full"
                                                      style="width: calc(100% - 73px);"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td class="p-1">
            <strong>2. APPOINTMENT:</strong> <span> Client grants Broker the exclusive right to act as Client's
                        real
                        estate agent for the purpose of acquiring property in the market area.</span>
        </td>
    </tr>
    <tr>
        <td class="p-1">
            <strong>3. DEFINITIONS:</strong> </span>
            <ol type="A" class="list-alpha after-none">
                <li> <i>“Acquire”</i> means to purchase or lease.</li>
                <li> <i>“Closing”</i> in a sale transaction means the date legal title to a property is conveyed
                    to
                    a purchaser of property under a contract to buy. “Closing” in a lease transaction means the
                    date
                    a landlord and tenant enter into a binding lease of a property. </li>
                <li> <i>“Market area”</i> means that area in the State of Texas specified as follows (for
                    example,
                    insert property address, subdivision, city, county, zip code, etc.): <span
                            class="add-border"></span></li>
                <li> <i>Property</i> means any interest in real estate including but not limited to properties
                    listed in a multiple listing service or other listing services, properties for sale by
                    owners,
                    and properties for sale by builders. </li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="p-1">
            <strong>4. TERM:</strong> <span>This agreement begins on</span> <span class="add-border"></span>
            <span>and ends at 11:59 p.m. on</span> <span class="add-border"></span>
        </td>
    </tr>
    <tr>
        <td class="p-1">
            <strong>5. BROKER'S OBLIGATIONS:</strong> <span>Broker will: (a) use Broker's best efforts to assist
                        Client in acquiring property in the market area; (b) assist Client in negotiating the
                        acquisition of
                        property in the market area; and (c) comply with other provisions of this agreement.</span>
        </td>
    </tr>
    <tr>
        <td class="p-1">
            <strong>6. CLIENT'S OBLIGATIONS:</strong> <span>Client will: (a) work exclusively through Broker in
                        acquiring property in the market area and negotiate the acquisition of property in the market
                        area
                        only through Broker; (b) inform other brokers, salespersons, sellers, and landlords with whom
                        Client
                        may have contact that Broker exclusively represents Client for the purpose of acquiring property
                        in
                        the market area and refer all such persons to Broker; and (c) comply with other provisions of
                        this
                        agreement.</span>
        </td>
    </tr>

    <tr class="page-break">
        <td class="p-1">
            <strong class="w-full inline-block">7. BROKER COMPENSATION:</strong>
            <strong>Broker compensation or the sharing of compensation between brokers is not set by law nor
                fixed,
                controlled, recommended, or suggested, by the Association of REALTORS®, MLS, or any listing
                service.
                Broker compensation is fully negotiable. Brokers independently determine their fees. Broker is
                prohibited from receiving compensation for brokerage services from any source that exceeds the
                amounts stated in this agreement.</strong>
        </td>
    </tr>
    <tr>
        <td>
            <table class="content-outer">
                <tr>
                    <td>
                        <ul class="border-add">
                            <li style="font-weight: bold;">
                                <u>Broker's Fees:</u> When Earned and Payable, Client will pay Broker (Complete
                                all that
                                apply):<br>
                                (1) (Purchases) <span class="add-border"></span> % of the sales price or $ <span
                                    class="add-border"></span> . <br>
                                (2) (Leases) <span class="add-border"></span> % of one month's rent or <span
                                    class="add-border"></span> % of all rents
                                to be paid
                                over the term of the
                                lease or $ <span class="add-border"></span> . <br>
                            </li>
                        </ul>
                        <ol class="list-alpha bottom_alpha" type="B">
                            <li>
                                <u>Source of Compensation:</u> Broker will seek to obtain payment of the fees
                                specified
                                in Paragraph 7A first from the seller, landlord, or their agents. <strong
                                    style="text-decoration: underline;"> If such persons refuse or fail to pay
                                Broker
                                the amount specified, </strong> <strong
                                    style="text-decoration: underline;">Client
                                will pay Broker the amount specified less any amounts Broker receives from
                                such
                                persons.</strong>
                            </li>
                            <li>
                                <u>Earned and Payable:</u> Broker's compensation is Earned when: (1) Client
                                enters
                                into
                                a contract to buy or lease property in the market area; or (2) Client breaches
                                this
                                agreement. Broker's compensation is Payable, either during the term of this
                                agreement or
                                after it ends, upon the earlier of: (1) the closing of the transaction to
                                acquire
                                the
                                property; (2) Client's breach of a contract to buy or lease a property in the
                                market
                                area; or (3) Client's breach of this agreement. If Client acquires more than one
                                property under this agreement, Broker's compensation for each property acquired
                                are
                                Earned as each property is acquired and are Payable at the closing of each
                                acquisition.
                            </li>
                            <li>
                                <u>Acquisition of Broker's Listing (Intermediary Transactions):</u> If Client
                                acquires a
                                property listed by Broker, any compensation Broker offers to other brokers in
                                Broker's
                                listing agreement with the owner will be credited towards Broker's Fee specified
                                under
                                Paragraph 7A.
                            </li>
                            <li>
                                <u>Additional Compensation:</u> In addition to Broker's Fee specified under
                                Paragraph
                                7A, Broker is entitled to the following compensation.
                                <span class="w-full inline-block" style="padding-left: 10px;">
                                            (1) <u>Construction:</u> If Client uses Broker's services to procure or
                                            negotiate
                                            the construction of improvements to property that Client owns or may
                                            acquire,
                                            Client
                                            ensures that Broker will receive from Client or the contractor(s) at the
                                            time
                                            the
                                            construction is substantially complete a fee equal to: <span
                                        class="add-border"></span>
                                        </span>
                                <span class="w-full inline-block" style="padding-left: 10px;">
                                            (2) <u>Service Providers:</u> If Broker refers Client or any party to a
                                            transaction
                                            contemplated by this agreement to a service provider (for example, mover,
                                            cable
                                            company, telecommunications provider, utility, or contractor) Broker may
                                            receive
                                            a
                                            fee from the service provider for the referral
                                        </span>
                                <span class="w-full inline-block" style="padding-left: 10px;">
                                            (3) <u> Other Compensation (Only insert amounts or rates of compensation
                                                that
                                                are
                                                objectively ascertainable and the specific amount or rate is known at
                                                the
                                                time
                                                of execution. Do not insert bonuses, a range of compensation, or terms
                                                such
                                                as
                                                “TBD”.):</u> <span class="add-border"></span>
                                        </span>
                                <strong>Notice Regarding Bonuses.</strong> <span>In addition to Broker's Fee
                                            specified
                                            under Paragraph 7A, seller, landlord, or their agent may offer to pay Broker
                                            a
                                            bonus
                                            if Client purchases or leases certain properties. Broker will disclose the
                                            specific
                                            amount of any bonus offered to Broker. Broker may not receive any bonus
                                            unless
                                            authorized by Client in writing. Client authorization may be made by
                                            amending
                                            this
                                            agreement (use TXR 1505).</span>
                            </li>
                        </ol>
                    </td>
                </tr>
            </table>
        </td>
    </tr>


    <tr>
        <td>
            <ol class="bottom_alpha" type="A" start="6" style="padding: 0 0 0 29px;">
                <li>
                    <u>Protection Period:</u> “Protection period” means that time starting the day after this
                    agreement ends and continuing for days. Not later than 10 days after this agreement ends,
                    Broker
                    may send Client written notice identifying the properties called to Client's attention
                    during
                    this agreement. If Client or a relative of Client agrees to acquire a property identified in
                    the
                    notice during the protection period, Client will pay Broker, upon closing, the amount Broker
                    would have been entitled to receive if this agreement were

                    still in effect. This Paragraph 7F
                    survives termination of this agreement. This Paragraph 7F will not apply if Client is,
                    during
                    the protection period, bound under a representation agreement with another broker who is a
                    member of Texas REALTORS® at the time the acquisition is negotiated and the other broker is
                    paid
                    a fee for negotiating the transaction.
                </li>
                <li style="margin-top: 5px;">
                    <u>Escrow Authorization:</u> Client authorizes, and Broker may so instruct, any escrow or
                    closing agent authorized to close a transaction for the acquisition of property contemplated
                    by
                    this agreement to collect and disburse to Broker all amounts Payable to Broker.
                </li>
                <li style="margin-top: 5px;">
                    <u>County:</u> Amounts Payable to Broker are to be paid in cash in <span
                        class="add-border"></span> County, Texas.
                </li>
            </ol>
        </td>
    </tr>

    <tr>
        <td>
            <strong class="w-full inline-block">8. REPRESENTATIONS:</strong>
            <ol type="A" class="list-alpha after-none" style="padding-left: 28px; margin: 0;">
                <li> Each person signing this agreement represents that the person has the legal capacity and
                    authority to bind the respective party to this agreement.</li>
                <li> Client represents that Client is not now a party to another buyer or tenant representation
                    agreement with another broker for the acquisition of property in the market area. </li>
                <li> Client represents that all information relating to Client's ability to acquire property in
                    the
                    market area Client gives to Broker is true and correct.</li>
                <li> Name any employer, relocation company, or other entity that will provide benefits to Client
                    when acquiring property in the market area: <span class="add-border"></span> </li>
                <li>Broker is not authorized to execute any document in the name of or on behalf of Client
                    concerning the Property.</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="p-1">
            <strong>9. INTERMEDIARY:</strong> (Check A or B only.)
            <ul class="list-none">
                <li>
                    <span class="inline-block" style="vertical-align: top;"> <input type="checkbox" /> </span>
                    <span class="inline-block" style="max-width: 92%;">A. Intermediary Status: Client desires to
                                see
                                Broker's listings. If Client wishes to acquire one of Broker's listings, Client
                                authorizes
                                Broker to act as an intermediary and Broker will notify Client that Broker will service
                                the
                                parties in accordance with one of the following alternatives.
                            </span>
                </li>
                <li style="padding-left: 20px;">(1) If the owner of the property is serviced by an associate
                    other
                    than the associate
                    servicing Client under this agreement, Broker may notify Client that Broker will: (a)
                    appoint the associate then servicing the owner to communicate with, carry out instructions
                    of, and provide opinions and advice during negotiations to the owner; and (b) appoint the
                    associate then servicing Client to the Client for the same purpose. </li>
                <li style="padding-left: 20px;">
                    (2) If the owner of the property is serviced by the same associate who is servicing Client,
                    Broker may notify Client that Broker will: (a) appoint another associate to communicate
                    with,
                    carry out instructions of, and provide opinions and advice during negotiations to Client;
                    and
                    (b) appoint the associate servicing the owner under the listing to the owner for the same
                    purpose.
                </li>
                <li style="padding-left: 20px;">
                    (3) Broker may notify Client that Broker will make no appointments as described under this
                    Paragraph 9A and, in such an event, the associate servicing the parties will act solely as
                    Broker's intermediary representative, who may facilitate the transaction but will not render
                    opinions or advice during negotiations to either party.
                </li>
                <li>
                    <span class="inline-block" style="vertical-align: top;"> <input type="checkbox" /> </span>
                    <span class="inline-block" style="max-width: 92%;">B. <u>No Intermediary Status:</u> Client
                                does
                                not wish to be shown or acquire any of Broker's listings
                            </span>
                </li>
            </ul>
        </td>
    </tr>

    <tr>
        <td class="p-1" style="padding-left: 5px;">
            <strong>Notice: If Broker acts as an intermediary under Paragraph 9A, Broker and Broker's
                associates:</strong>
            <ul class="list-circle">
                <li>may not disclose to Client that the seller or landlord will accept a price less than the
                    asking
                    price unless otherwise instructed in a separate writing by the seller or landlord;
                </li>
                <li>
                    may not disclose to the seller or landlord that Client will pay a price greater than the
                    price
                    submitted in a written offer to the seller or landlord unless otherwise instructed in a
                    separate
                    writing by Client;
                </li>
            </ul>
        </td>
    </tr>




    <tr>
        <td class="p-1" style="padding-left: 5px;">
            <strong>Notice: If Broker acts as an intermediary under Paragraph 9A, Broker and Broker's
                associates:</strong>
            <ul class="list-circle">
                <li>may not disclose any confidential information or any information a seller or landlord or
                    Client
                    specifically instructs Broker in writing not to disclose unless otherwise instructed in a
                    separate writing by the respective party or required to disclose the information by the Real
                    Estate License Act or a court order or if the information materially relates to the
                    condition of
                    the property;
                </li>
                <li>shall treat all parties to the transaction honestly; and
                </li>
                <li>shall comply with the Real Estate License Act.</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td class="p-1">
            <strong>10. COMPETING CLIENTS:</strong> Client acknowledges that Broker may represent other
            prospective
            buyers or tenants who may seek to acquire properties that may be of interest to Client. Client
            agrees
            that Broker may, during the term of this agreement and after it ends, represent such other
            prospects,
            show the other prospects the same properties that Broker shows to Client, and act as a real estate
            broker for such other prospects in negotiating the acquisition of properties that Client may seek to
            acquire.
        </td>
    </tr>

    <tr>
        <td class="p-1">
            <strong class="w-full inline-block">11. CONFIDENTIAL INFORMATION:</strong>
            <ol type="A" class="list-alpha after-none" style="padding-left: 28px; margin: 0;">
                <li style="font-size: 13px;"> During the term of this agreement or after its termination, Broker
                    may not knowingly disclose
                    information obtained in confidence from Client except as authorized by Client or required by
                    law. Broker may not disclose to Client any information obtained in confidence regarding any
                    other person Broker represents or may have represented except as required by law.</li>
                <li style="font-size: 13px;"> Unless otherwise agreed or required by law, a seller or the
                    seller's agent is not obliged to
                    keep the existence of an offer or its terms confidential. If a listing agent receives
                    multiple
                    offers, the listing agent is obliged to treat the competing buyers fairly. </li>
            </ol>
        </td>
    </tr>

    <tr>
        <td class="p-1">
            <strong class="w-full inline-block">12. MEDIATION:</strong> The parties agree to negotiate in good
            faith
            in an effort to resolve any dispute that may arise related to this agreement or any transaction
            related
            to or contemplated by this agreement. If the dispute cannot be resolved by negotiation, the parties
            will
            submit the dispute to mediation before resorting to arbitration or litigation and will equally share
            the
            costs of a mutually acceptable mediator.
        </td>
    </tr>

    <tr>
        <td class="p-1">
            <strong class="w-full inline-block">13. DEFAULT:</strong> If either party fails to comply with this
            agreement or makes a false representation in this agreement, the non-complying party is in default.
            If
            Client is in default, Broker may terminate this agreement and Client will be liable for the amount
            of
            compensation that Broker would have received under this agreement if Client was not in default;
            Broker
            may also terminate this agreement and exercise any other remedy at law. If Broker is in default,
            Client
            may exercise any remedy at law.
        </td>
    </tr>

    <tr>
        <td class="p-1">
            <strong class="w-full inline-block">14. ATTORNEY'S FEES:</strong> If Client or Broker is a
            prevailing
            party in any legal proceeding brought as a result of a dispute under this agreement or any
            transaction
            related to this agreement, such party will be entitled to recover from the non-prevailing party all
            costs of such proceeding and reasonable attorney's fees
        </td>
    </tr>

    <tr>
        <td class="p-1">
            <strong class="w-full inline-block">15. LIMITATION OF LIABILITY: Neither Broker nor any other
                broker, or
                their associates, is responsible or liable for any person's personal injuries or for any loss or
                damage to any person's property that is not caused by Broker. Client will hold broker, any other
                broker, and their associates, harmless from any such injuries or losses. Client will indemnify
                Broker against any claims for injury or damage that Client may cause to others or their
                property.
            </strong>
        </td>
    </tr>

    <tr>
        <td class="p-1">
            <strong>16. ADDENDA: </strong> Addenda and other related documents which are part of this agreement
            are:
        </td>
    </tr>
    <tr>
        <td>
            <table class="w-full font-13">
                <tr>
                    <td> <input type="checkbox" /> Information About Brokerage Services</td>
                    <td> <input type="checkbox" /> Protect Your Family from Lead in Your Home </td>
                </tr>
                <tr>
                    <td> <input type="checkbox" /> Mold Remediation Consumer Protection</td>
                    <td> <input type="checkbox" /> Information about Special Flood Hazard Areas </td>
                </tr>
                <tr>
                    <td> <input type="checkbox" /> Information Concerning Property Insurance </td>
                    <td> <input type="checkbox" /> For Your Protection: Get a Home Inspection </td>
                </tr>
                <tr>
                    <td> <input type="checkbox" /> General Information and Notice to Buyers and Sellers </td>
                    <td> <input type="checkbox" /> Wire Fraud Warning </td>
                </tr>
                <tr>
                    <td> </td>
                    <td> <input type="checkbox" /> <span class="add-border"></span> </td>
                </tr>
            </table>
        </td>
    </tr>




    <tr>
        <td class="p-1">
            <strong class="w-full inline-block">17. SPECIAL PROVISIONS:</strong>
        </td>
    </tr>
    <tr>
        <td class="p-1">
            <strong class="w-full inline-block">18. ADDITIONAL NOTICES: </strong>
            <ol type="A" class="list-alpha after-none" style="padding-left: 28px; margin: 0;">
                <li style="font-weight: bold;">In accordance with fair housing laws and the National Association
                    of
                    REALTORS® Code of Ethics, Broker's services must be provided without regard to race, color,
                    religion, national origin, sex, disability, familial status, sexual orientation, or gender
                    identity. Local ordinances may provide for additional protected classes (for example, creed,
                    status as a student, marital status, or age).</li>
                <li style="font-weight: bold;">Broker is not a property inspector, pest inspector, appraiser,
                    surveyor, engineer, environmental assessor, or compliance inspector. Client should seek
                    experts
                    to render such services in any acquisition.</li>
                <li style="font-weight: bold;">If Client purchases property, Client should have an abstract
                    covering
                    the property examined by an attorney of Client's selection, or Client should be furnished
                    with
                    or obtain a title policy.</li>
                <li style="font-weight: bold;">Client may purchase a residential service contract. Client should
                    review such service contract or the scope of coverage, exclusions, and limitations. The
                    purchase
                    of a residential service contract is optional. There are several residential service
                    companies
                    operating in Texas.</li>

                <li style="font-weight: bold;">When viewing a property, Client might be recorded or otherwise
                    monitored without Client's knowledge or consent. Additionally, consult an attorney before
                    recording or photographing a property without Owner's knowledge or consent.</li>
                <li style="font-weight: bold;">To reduce risk of wire fraud, Client should refrain from
                    transmitting
                    personal information, such as bank account or other financial information, via unsecured
                    email
                    or other electronic communication. If Client receives any request to wire funds, even if the
                    communication appears to come from a legitimate source, Client should verify its
                    authenticity
                    prior to transferring any funds. Verification should be made in person or via phone call
                    using a
                    recognized phone number not found in the communication. Broker will not send Client any
                    electronic communication with instructions to wire funds or to provide personal information.
                </li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="p-1">
            <strong>CONSULT AN ATTORNEY: Broker cannot give legal advice. This is a legally binding agreement.
                READ
                IT CAREFULLY. If you do not understand the effect of this agreement, consult your attorney
                BEFORE
                signing.</strong>
        </td>
    </tr>

    <tr>
        <td colspan="4" class="p-1">
            <table cellspacing="0" cellpadding="0" class="w-full">
                <tr>
                    <td colspan="1"><strong style="color: #050999; font-size:13px;">Insert Text here</strong>
                        <span
                                style="width: 100%; display: block; border-top: 1px solid #393939; font-size: 13px;">Broker's
                                    Printed Name</span>
                    </td>
                    <td colspan="1" style="padding-right: 25px;"><strong
                            style="color: #050999; font-size:13px;">Insert Text here</strong>
                        <span
                                style="width: 100%; display: block; border-top: 1px solid #393939; font-size: 13px;">License
                                    No.</span>
                    </td>
                    <td colspan="2" style="text-align: center; padding: 0 0 0 10px; text-align: left;"><strong
                            style="color: #050999; font-size:13px;">Insert Text here</strong>
                        <span
                                style="width: 100%; display: block; border-top: 1px solid #393939; font-size: 13px;">Client's
                                    Printed Name</span>
                    </td>
                </tr>
                <tr>
                    <td><strong style="color: #050999; font-size:13px;">Insert Text here</strong>
                        <span
                                style="width: 100%; display: block; border-top: 1px solid #393939; font-size: 13px;">
                                    Broker's (or <input type="checkbox" /> Broker's Associate's) Signature
                                </span>
                    </td>
                    <td style="padding-right: 25px;"><strong style="color: #050999; font-size:13px;">Insert Text
                        here</strong>
                        <span
                                style="width: 100%; display: block; border-top: 1px solid #393939; font-size: 13px;">License
                                    No.</span>
                    </td>
                    <td style="text-align: center; padding: 0 0 0 10px; text-align: left;"><strong
                            style="color: #050999; font-size:13px;">Insert Text here</strong>
                        <span
                                style="width: 100%; display: block; border-top: 1px solid #393939; font-size: 13px;">Client's
                                    Printed Name</span>
                    </td>
                    <td style="text-align: center; padding:0; text-align: right;"><strong
                            style="color: #050999; font-size:13px;">Insert Text here</strong>
                        <span
                                style="width: 100%; display: block; border-top: 1px solid #393939; font-size: 13px;">Date</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="1"><strong style="color: #050999; font-size:13px;">Insert Text here</strong>
                        <span
                                style="width: 100%; display: block; border-top: 1px solid #393939; font-size: 13px;">Broker's
                                    Associate's Name, if applicable</span>
                    </td>
                    <td colspan="1" style="padding-right: 25px;"><strong
                            style="color: #050999; font-size:13px;">Insert Text here</strong>
                        <span
                                style="width: 100%; display: block; border-top: 1px solid #393939; font-size: 13px;">License
                                    No.</span>
                    </td>
                    <td colspan="2" style="text-align: center; padding: 0 0 0 10px; text-align: left;"><strong
                            style="color: #050999; font-size:13px;">Insert Text here</strong>
                        <span
                                style="width: 100%; display: block; border-top: 1px solid #393939; font-size: 13px;">Client's
                                    Printed Name</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-right: 25px;"></td>
                    <td style="padding-left: 10px;"><strong style="color: #050999; font-size:13px;">Insert Text
                        here</strong>
                        <span
                                style="width: 100%; display: block; border-top: 1px solid #393939; font-size: 13px;">Client's
                                    Signature</span>
                    </td>
                    <td style="text-align: center; text-align: right;"><strong
                            style="color: #050999; font-size:13px;">Insert Text here</strong>
                        <span
                                style="width: 100%; display: block; border-top: 1px solid #393939; font-size: 13px;">Date</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    </tbody>

    <tfoot>
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" class="w-full" style="margin-top: 10px;">
                <tr>
                    <td style="width: 20%; font-size: 10px;">(TXR-1501) 06-24-24</td>
                    <td style="width: 75%; font-size: 10px;">Initialed for Identification by Broker/Associate
                        <span class="add-border" style="min-width: 65px;"></span> and Client
                        <span class="add-border" style="min-width: 65px;"></span> , <span class="add-border"
                                                                                          style="min-width: 65px;"></span>
                    </td>

                </tr>
            </table>
        </td>

    </tr>

    <tr class="footer">
        <td colspan="4">
            <table class="w-full" style="margin-top: 5px;">
                <tr>
                    <td style="font-size: 10px;">
                        <strong>Coleman Team Realty, 110 Ave. H Suite 101 Marble Falls TX 78654</strong>
                    </td>
                    <td style="font-size: 10px; text-align: center;">
                        <span>Phone:</span> <strong>5125920379</strong>
                    </td>
                    <td style="font-size: 10px; text-align: center;">Fax:
                        <strong> 8555253525</strong>
                    </td>
                    <td style="font-size: 10px; text-align: right;">
                        <strong></strong>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 10px;">
                        <strong>Trey Berry</strong>
                    </td>
                    <td style="font-size: 10px;" colspan="2">
                                <span>Produced with Lone Wolf Transactions (zipForm Edition) 717 N Harwood St, Suite
                                    2200,
                                    Dallas, TX 75201</span>
                    </td>
                    <td style="font-size: 10px; text-align: right;">
                        <a href="javascript:;" target="_blank" style="color: #000;">https://www.lwolf.com/</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </tfoot>


</table>


</body>

</html>